{% extends 'base.html.twig' %}

{% block title %} BookStore | CP : Genres {% endblock %}

{% block body %}

    <div class="contentWrapper">

        <div class="ui segment sixteen  column wide items" style="padding: 1em 1.5em; border: 1px solid gray; background-color: #fffffdc7;">
            <h5 class="ui header customClass pb-0">
                <a href="{{ path("cp_index") }}"> <i class="icon left arrow" ></i> Go Back to ControlPanel  </a>
            </h5>
            <h1 class="ui header center aligned customClass pt-0 brown huge"> Genres management </h1>
            {% set flashes = app.flashes('deleted')  %}
            {% if flashes %}
                <div class="ui positive message">
                    <div class="header" style="text-align: center;">
                        Genre "{{ flashes|join(' ') }}" was successfuly deleted
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="ui segment sixteen  column wide items" style="padding: 1em 1.5em; border: 1px solid gray; background-color: #fffffdc7;">
            <div class="ui grid three column">
                <div class="ui column left floated">
                    <form action="{{ path('cp_genre_index') }}" method="get">
                        <div class="ui action input fluid">
                            <input type="text" name="search" maxlength="50" value="{{ search }}" placeholder="Search with genre name">
                            {% if search|length>0 %}
                                <a href="{{ path('cp_genre_index') }}" class="ui icon button negative">
                                    <i class="times icon"></i>
                                </a>
                            {% endif %}
                            <button type="submit" class="ui icon button teal">
                                <i class="search icon"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="column right floated customClass text-right">
                    <a href="{{ path('genre_new') }}" class="ui button positive"> <i class="icon plus"></i> Create new </a>
                </div>
            </div>


            <table class="ui selectable striped customClass table center middle aligned">
                <thead>
                <tr>
                    <th><strong> # </strong></th>
                    <th>
                        {% if genres.isSorted('g.nom') %}
                            <u class="purple">
                                {{ knp_pagination_sortable(genres, 'Genre name', 'g.nom') }}
                            </u>
                            <i class="icon {{ order is same as ('asc')? 'chevron up':'chevron down' }}" ></i>
                        {% else %}
                            {{ knp_pagination_sortable(genres, 'Genre name', 'g.nom') }}
                        {% endif %}
                    </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% set i=0 %}
                {% for genre in genres %}
                    {% set i=1+i %}
                    <tr>
                        <td><strong> {{ (currentPage-1)*25+i }} </strong></td>
                        <td>{{ genre.nom }}</td>
                        <td>
                            <a href="{{ path('genre_show', {'id': genre.id}) }}" title="view">
                                <i class="icon eye teal"> </i>
                            </a>
                            <a href="{{ path('genre_edit', {'id': genre.id}) }}" title="Edit">
                                <i class="pencil alternate icon olive"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if genres|length>0 %}
            <div class="ui segment fourteen column wide center aligned" style=" margin-bottom: 2em !important; border: 1px solid gray; background-color: #fffffdc7;">
                {{ knp_pagination_render(genres) }}
            </div>
        {% endif %}

    </div>

{% endblock %}
