{{ form_start(form) }}

    <div class="ui form sixteen center aligned" style="padding: 0em 4em;">
        <div class="row">
            <div class="field" style="padding: 1em;">
                <label for="livre_titre">
                    {{ form_label(form.titre) }}
                </label>
                {{ form_widget(form.titre, { 'attr':{'id':'livre_titre'} }) }}
            </div>
            {% if form.titre.vars.errors|length>0 %}
                <div class="ui text left aligned myred">
                    {{ form_errors(form.titre) }}
                </div>
            {% endif %}
        </div>

        <div class="row" style="padding: 1em;  margin-top: 0.5em; ">
            <div class="field">
                <label for="livre_isbn">
                    {{ form_label(form.isbn) }}
                </label>
                {{ form_widget(form.isbn) }}
            </div>
            {% if form.isbn.vars.errors|length>0 %}
                <div class="ui text left aligned myred">
                    {{ form_errors(form.isbn) }}
                </div>
            {% endif %}
        </div>

        <div class="row" style="padding: 1em;  margin-top: 0.5em; ">
            <div class="field">
                <label for="livre_nombre_pages">
                    {{ form_label(form.nombre_pages) }}
                </label>
                {{ form_widget(form.nombre_pages) }}
            </div>
            {% if form.nombre_pages.vars.errors|length>0 %}
                <div class="ui text left aligned myred">
                    {{ form_errors(form.nombre_pages) }}
                </div>
            {% endif %}
        </div>

        <div class="row" style="padding: 1em;  margin-top: 0.5em; ">
            <div class="field">
                <label for="livre_date_de_parution">
                    {{ form_label(form.date_de_parution) }}
                </label>
                {{ form_widget(form.date_de_parution) }}
            </div>
            {% if form.date_de_parution.vars.errors|length>0 %}
                <div class="ui text left aligned myred">
                    {{ form_errors(form.date_de_parution) }}
                </div>
            {% endif %}
        </div>

        <div class="row" style="padding: 1em;  margin-top: 0.5em; ">
            <div class="field">
                <label for="livre_note">
                    {{ form_label(form.note) }}
                </label>
                {{ form_widget(form.note) }}
                <div>
                    <p id="ratingValue" style="text-align: center; color: cornflowerblue; font-weight: 900; font-size: 1.2em;"> </p>
                </div>
            </div>
            {% if form.note.vars.errors|length>0 %}
                <div class="ui text left aligned myred">
                    {{ form_errors(form.note) }}
                </div>
            {% endif %}
        </div>

        <div class="row" style="padding: 0.9em;">
            <div class="field">
                <label for="livre_image">
                    {{ form_label(form.image) }}
                </label>
                {{ form_widget(form.image) }}
            </div>
            {% if form.image.vars.errors|length>0 %}
                <div class="ui text left aligned myred">
                    {{ form_errors(form.image) }}
                </div>
            {% endif %}
        </div>

        <div class="row" style="padding: 0.9em;">
            <div class="field">
                <label for="livre_image">
                    {{ form_label(form.auteurs) }}
                </label>
                {{ form_widget(form.auteurs, { 'attr':{ 'class': 'ui dropdown'} }) }}
            </div>
            {% if form.auteurs.vars.errors|length>0 %}
                <div class="ui text left aligned myred">
                    {{ form_errors(form.auteurs) }}
                </div>
            {% endif %}
        </div>

        <div class="row" style="padding: 0.9em;">
            <div class="field">
                <label for="livre_image">
                    {{ form_label(form.genres) }}
                </label>
                {{ form_widget(form.genres, { 'attr':{ 'class': 'ui dropdown'} }) }}
            </div>
            {% if form.genres.vars.errors|length>0 %}
                <div class="ui text left aligned myred">
                    {{ form_errors(form.genres) }}
                </div>
            {% endif %}
        </div>


        {#

            # in Here, i wanted to create a tagify field, where the user types the name of the authors or genre, a Ajax request is launched to get suggestions list
            # then the user can easly pick one of the list

        <div class="row" style="padding: 0.9em;">
            <div class="field">
                <label for="authors">
                    Authors
                </label>
                <div class="ui row pb-1 customClass">
                    <input type="hidden" name="auteurs" id="authorsIds" value="{{ authorsIds|json_encode }}" >
                    <div class="ui wide field big fluid">
                        <input type="text" name="" id="authors"  value="{{ authors ? authors|json_encode:'' }}" autocomplete="off" class="hidden" placeholder="Choose authors">
                    </div>
                    {% if form.auteurs is defined %}
                        {% if form.auteurs.vars.errors|length>0 %}
                            <div class="ui text left aligned myred">
                                {{ form_errors(form.auteurs) }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row" style="padding: 0.9em;">
            <div class="field">
                <label for="genres">
                    Genres
                </label>
                <div class="ui row pb-1 customClass">
                    <input type="hidden" name="genresIds" id="genresIds" value="{{ genresIds|json_encode }}" >
                    <div class="ui wide field big fluid">
                        <input type="text" name="" id="genres"  value="{{ genres ? genres|json_encode:'' }}" autocomplete="off" class="hidden" placeholder="Choose genres">
                    </div>
                    {% if form.genres is defined %}
                        {% if form.genres.vars.errors|length>0 %}
                            <div class="ui text left aligned myred">
                                {{ form_errors(form.genres) }}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        #}



    </div>

    <button class="ui button blue" type="submit" style="display: block; margin: 9px auto; width: fit-content;" > <i class="icon save"></i> {{ button_label|default('Create') }}</button>

{{ form_end(form) }}
