{% extends 'base.html.twig' %}


{% block title %} BookStore | Create a Book {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("/css/tagify.css") }}">
    <style>
        .tagify {
            width: 100%;
            background: white;
        }
        /* Suggestions items */
        .tagify__dropdown.users-list {
            font-size: 14px;
        }
        .tagify__dropdown.users-list .tagify__dropdown__item {
            padding: 0.5em 0.7em;
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-areas: "avatar name" "avatar email";
        }
        .tagify__dropdown.users-list .tagify__dropdown__item:hover .tagify__dropdown__item__avatar-wrap {
            transform: scale(1.2);
        }
        .tagify__dropdown.users-list .tagify__dropdown__item__avatar-wrap {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            overflow: hidden;
            background: #eee;
            transition: 0.1s ease-out;
        }
        .tagify__dropdown.users-list img {
            width: 100%;
            vertical-align: top;
        }
        .tagify__dropdown.users-list strong {
            width: 100%;
            align-self: center;
            margin-left: 10px;
            font-weight: 500;
        }
        .tagify__dropdown.users-list span {
            width: 100%;
            font-size: 0.9em;
            opacity: 0.6;
        }
        .tagify__dropdown.users-list .addAll {
            border-bottom: 1px solid #ddd;
        }
        /* Tags items */
        .tagify__tag {
            white-space: nowrap;
        }
        .tagify__tag:hover .tagify__tag__avatar-wrap {
            transform: scale(1.6) translateX(-10%);
        }
        .tagify__tag .tagify__tag__avatar-wrap {
            width: 16px;
            height: 16px;
            white-space: normal;
            background: silver;
            border-radius: 50%;
            margin-right: 5px;
            transition: 0.12s ease-out;
        }
        .tagify__tag img {
            width: 100%;
            vertical-align: top;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="contentWrapper" style="padding: 2em 1em;">
        <div class="ui segment sixteen column wide items" style="padding: 1em; border: 1px solid gray; background-color: #fffffdc7;">
            <div style="display: flex;align-content: center;justify-content: space-between;align-items: center;">
                <h5 class="ui header customClass pb-0 left aligned">
                    <a href="{{ path("cp_livre_index") }}"> <i class="icon left arrow" ></i> Go Back to books list  </a>
                </h5>
            </div>
        </div>

        <div class="ui segment attached sixteen column wide items" style="padding: 1em; border: 1px solid gray;">
            <h1 class="ui header center aligned big"> Create a new Book </h1>
        </div>
        <div class="ui segment attached sixteen column wide items" style="padding: 4em 2em; border: 1px solid gray;">

            {{ include('livre/_form.html.twig') }}

        </div>
    </div>

{% endblock %}

{% block bodyScript %}
    <script src="{{ asset("/js/tagify.min.js") }}"></script>
    <script src="{{ asset("/js/tagify.polyfills.min.js") }}"></script>
    <script>
        $(()=>{
            $('#ratingValue').html($('#livre_note').val()+" / 20");
            $('#livre_note').on('change', (e)=>{
                $('#ratingValue').html( $(e.target).val()+" / 20" )
            })
            $('select.dropdown')
                .dropdown()
            ;
        })
    </script>
    {#
    {{  include('livre/genresNauthorsInput.html.twig') }}
    #}
{% endblock %}
